version: 2
updates:
  - package-ecosystem: "pip" # Dependabot uses the pip ecosystem to support uv.lock
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
